@import url('bootstrap');
@import url('bootstrap-icons');

body {
    font-family: 'Raleway Variable', sans-serif;
    ;
}

#loader-wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.61);
    top: 0;
    left: 0;

}